body{
margin-left: 250px;
margin-right: 250px;
margin-top: 30px;
background-color: rgba(155, 225, 230, 0.1);
}

.one{
background-color: rgba(155, 225, 230, 0.5);
border-style: solid;
padding-top: 20px;
padding-right: 200px;
padding-left: 200px;

}

.two{
  font-size: 25px;
  border-bottom: solid;
  margin-left: 300px;
  margin-right: 350px;
}
