body{
margin-left: 250px;
margin-right: 250px;
margin-top: 30px;
margin-bottom: 50px;
background-color: rgba(155, 225, 230, 0.1);
font-family: "paletino linotype", "book antiqua", palatino, serif;
}

#wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 32px;
  background-color: rgba(155, 225, 230, 0.4);
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h1 {
  font-variant:small-caps;
  text-align: center;
  line-height: 10px;
  font-size: 20px;
}

a{
  text-decoration: none;
}

p{
  letter-spacing: 1.5px;
  text-align: justify/left/right/center;
  text-justify: values;
}

.menu-bar {
  background-color: rgb(30,50,144);
  text-align: center;
  font-size: large;
}

.menu-bar ul {
  display: inline-flex;
  list-style: none;
  color: #fff;
}

.menu-bar ul li {
  width: 200px;
  margin: 10px;
  padding: 15px;
  text-align: center;
}

.menu-bar ul li a {
  text-decoration: none;
  color: #fff;
}

.menu-bar ul li:hover  {
  background-color: #5C9CEA;
}

.sub-menu-1 {
  display: none;
}
.menu-bar ul li:hover .sub-menu-1{
  display: block;
  position: absolute;
  margin-top: 15px;
  margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
  display: block;
  margin: 10px;
  background-color: rgb(30,50,144);
}
.menu-bar ul li:hover .sub-menu-1 ul li{
  width: 150px;
  padding: 10px;
  border-bottom: 1px inline #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
  border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
  color: #5C9CEA;
}

.factbox{
  border-style: solid;
}
.together{
  margin-right: 0px;
  text-align: center;
  text-decoration: underline;
}
.
  .row::after{
    content: " ";
    clear: both;
    display: table;
  }

  *{
      box-sizing: border-box;
    }



@media (max-width: 767px) {
  .menu-bar ul {
    display: table;
    width: 100%
  }
  .menu-bar ul li {
    text-align: left;
  }
  .menu-bar ul li ul {
    width: 100%
    z-index: 1;
  }
}



  [class*="col-"]{
     float: left;
     padding: 1vw;

   }

  .col-small-10 {width: 10%}
  .col-small-20 {width: 20%;}
  .col-small-30 {width: 30%;}
  .col-small-40 {width: 40%;}
  .col-small-50 {width: 50%;}
  .col-small-60 {width: 60%;}
  .col-small-70 {width: 70%;}
  .col-small-80 {width: 80%;}
  .col-small-90 {width: 90%;}
  .col-small-100 {width: 100%;}


  @media only screen and (max-width:1200px) {
  .col-tall-10 {width: 10%;}
  .col-tall-20 {width: 20%;}
  .col-tall-30 {width: 30%;}
  .col-tall-40 {width: 40%;}
  .col-tall-50 {width: 50%;}
  .col-tall-60 {width: 60%;}
  .col-tall-70 {width: 70%;}
  .col-tall-80 {width: 80%;}
  .col-tall-90 {width: 90%;}
  .col-tall-100 {width: 100%;}
  body{
    margin: auto;
  }
  }

  @media only screen and (max-width:700px) {
  .col-half-10 { width: 10%}
  .col-half-20 {width: 20%;}
  .col-half-30 {width: 30%;}
  .col-half-40 {width: 40%;}
  .col-half-50 {width: 50%;}
  .col-half-60 {width: 60%;}
  .col-half-70 {width: 70%;}
  .col-half-80 {width: 80%;}
  .col-half-90 {width: 90%;}
  .col-half-100 {width: 100%;}
  }

.together{
  margin-right: 0px;
  text-align: center;
  text-decoration: underline;
}
.
  .row::after{
    content: " ";
    clear: both;
    display: table;
  }
